name: Deploy das altera莽玫es para PRD
on:
  pull_request:
    types: [closed]
    branches:
      - master
    paths:
      - 'force-app/**'
jobs:
  merge_deploy:
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    steps:
      - name: Checkout do reposit贸rio
        uses: actions/checkout@v4
        with:
          fetch-depth: 0 

      - name: Instalar depend锚ncias do sistema e do Salesforce CLI
        run: |
          sudo apt-get update
          sudo apt-get install -y wget curl jq
          npm install @salesforce/cli --global

      - name: Autenticar com a org PRD
        run: |
          echo "${{ secrets.AUTH_URL_PRD }}" > sfdx-auth-url.txt
          sf org login sfdx-url -f sfdx-auth-url.txt --alias prd

      - name: Instalar plugin sfdx-git-delta
        run: echo "y" | sf plugins install sfdx-git-delta

      - name: Criar diret贸rio de sa铆da para o pacote delta
        run: mkdir -p deploy

      - name: Gerar pacote delta no diret贸rio deploy
        run: |
          sf sgd source delta --from HEAD^ --to HEAD --output-dir deploy

      - name: Definir nome do artefato com org, data e hora
        id: set-artifact-name
        run: |
          ORG_NAME="PRD"
          export TZ="America/Sao_Paulo"
          TIMESTAMP=$(date +'%d-%m-%Y--%H-%M-%S')
          echo "PACKAGE_XML_ARTIFACT=${ORG_NAME}_Package_xml_${TIMESTAMP}" >> $GITHUB_OUTPUT
          echo "DEPLOY_LOG_ARTIFACT=${ORG_NAME}_Deploy_log_${TIMESTAMP}" >> $GITHUB_OUTPUT

      - name: Listar conte煤do do diret贸rio deploy
        run: ls -R deploy
        
      - name: Exibir conte煤do do package.xml
        run: cat deploy/package/package.xml
        
      - name: Converter metadados para deploy
        run: sfdx force:source:convert --manifest=deploy/package/package.xml --outputdir=convert

      - name: Executar deploy real com testes
        run: |
          set -e
          echo " Deploy com testes rodando full power"
          sf project deploy start --manifest deploy/package/package.xml --test-level RunLocalTests --target-org prd | tee deploy/deploy_output.log

      - name: Salvar package.xml
        uses: actions/upload-artifact@v4
        with:
          name: ${{ steps.set-artifact-name.outputs.PACKAGE_XML_ARTIFACT }}
          path: deploy/package/package.xml

      - name: Salvar o Log de Deploy
        uses: actions/upload-artifact@v4
        with:
          name: ${{ steps.set-artifact-name.outputs.DEPLOY_LOG_ARTIFACT }}
          path: deploy/deploy_output.log
